<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.jian.jcjiaxiao">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="锦程驾校"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="锦程驾校"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.YuyueActivity">
        </activity>
        <activity android:name=".activity.CoureseActivity">
        </activity>
        <activity android:name=".activity.MianzeActivity">
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.CancelActivity">
        </activity>
        <activity android:name=".activity.CommentActivity">
        </activity>

        <service
            android:name=".QiangkeService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>